header {
	width:400px;
	background-color:#111;
	border:none;
	padding-left:2px;
	padding-top:2px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}

ul {
    list-style:none;
    margin-left:0px;
}

li {
	list-style-type:none;
	display:block;
	
}

.toppic {
	width:400px;
	background-color:#111;
	border:none;
	height:40px;
	/* margin-left:auto;
    margin-right:auto; */
    color:#000;
    text-align:middle;
    


}